
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  /* background-color: rgb(30 41 59); */
  /* background-color: #F5F5F5; */
  padding: 0;
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
     */
  /* font-family:'Times New Roman', Times, serif */
  font-family: 'Helvetica Neue', 'Times New Roman';

      /* background: linear-gradient(300deg,deepskyblue,darkviolet,blue); */
      /* background: linear-gradient(30deg,#7c08c5,#8362ab,); */
    
      /* background: linear-gradient(341deg,#6f7348,#2ebdc2,#cc79d6,#d03963,#ba99c4);
  background-size: 360% 360%;
  animation: gradient-animation 54s ease infinite; */

    
      
  }

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
    
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}
